<%- model_class = Piece -%>
<div class="page-header">
  <h1><%=t '.title', :default => model_class.model_name.human.titleize %></h1>
</div>

<dl class="dl-horizontal">
  <dt><strong>QR</strong></dt>
  <dd><%= image_tag @qr %></dd>
  <dt><strong><%= model_class.human_attribute_name(:serial_no) %>:</strong></dt>
  <dd><%= @piece.serial_no %></dd>
  <dt><strong><%= model_class.human_attribute_name(:guarantee_start) %>:</strong></dt>
  <dd><%= @piece.guarantee_start %></dd>
  <dt><strong><%= model_class.human_attribute_name(:guarantee_expiry) %>:</strong></dt>
  <dd><%= @piece.guarantee_expiry %></dd>
  <dt><strong><%= model_class.human_attribute_name(:notes) %>:</strong></dt>
  <dd><%= @piece.notes %></dd>
  <dt><strong><%= model_class.human_attribute_name(:status) %>:</strong></dt>
  <dd><%= @piece.status %></dd>
  <dt><strong><%= model_class.human_attribute_name(:item_id) %>:</strong></dt>
  <dd><%= @piece.item_id %></dd>
  <dt><strong><%= model_class.human_attribute_name(:user_id) %>:</strong></dt>
  <dd><%= @piece.user_id %></dd>
  <dt><strong><%= model_class.human_attribute_name(:location_id) %>:</strong></dt>
  <dd><%= @piece.location_id %></dd>
</dl>

<%= link_to t('.back', :default => t("helpers.links.back")),
              item_pieces_path, :class => 'btn btn-default'  %>
<%= link_to t('.edit', :default => t("helpers.links.edit")),
              edit_item_piece_path(@item,@piece), :class => 'btn btn-default' %>
<%= link_to t('.destroy', :default => t("helpers.links.destroy")),
              item_piece_path(@item,@piece),
              :method => 'delete',
              :data => { :confirm => t('.confirm', :default => t("helpers.links.confirm", :default => 'Are you sure?')) },
              :class => 'btn btn-danger' %>
