<h1>Listing categories</h1>

<table>
	<tr>
		<th>Parent</th>
		<th>Name</th>
	</tr>

	<% @categories.each do |category| %>
		<tr>
			<td><%= category.parent.name unless !category.parent.present? %></td>
			<td><%= category.name %></td>
			<td><%= link_to 'Edit', edit_category_path(category) %></td>
			<td><%= link_to 'Destroy', category_path(category), method: :delete, data: { confirm: 'Are you sure?'} %></td>
			
		</tr>
	<% end %>
</table>

<%= link_to 'New item', new_category_path %>
