<%= form_for @location, :html => { :class => "form-horizontal location" } do |f| %>

  <% if @location.errors.any? %>
    <div id="error_expl" class="panel panel-danger">
      <div class="panel-heading">
        <h3 class="panel-title"><%= pluralize(@location.errors.count, "error") %> prohibited this location from being saved:</h3>
      </div>
      <div class="panel-body">
        <ul>
        <% @location.errors.full_messages.each do |msg| %>
          <li><%= msg %></li>
        <% end %>
        </ul>
      </div>
    </div>
  <% end %>

  <div class="form-group">
    <%= f.label :name, :class => 'control-label col-lg-2' %>
    <div class="col-lg-10">
      <%= f.text_field :name, :class => 'form-control' %>
    </div>
    <%=f.error_span(:name) %>
  </div>
  <div class="form-group">
    <%= f.label :code, :class => 'control-label col-lg-2' %>
    <div class="col-lg-10">
      <%= f.text_field :code, :class => 'form-control' %>
    </div>
    <%=f.error_span(:code) %>
  </div>
  <div class="form-group">
    <%= f.label :parent_id, :class => 'control-label col-lg-2' %>
    <div class="col-lg-10">
      <%= f.collection_select(:parent_id, @locations, :id, :name, { include_blank: 'No Parent' }, { class: 'form-control' }) %>
    </div>
    <%=f.error_span(:parent_id) %>
  </div>
  <div class="form-group">
    <%= f.label :sort_order, :class => 'control-label col-lg-2' %>
    <div class="col-lg-10">
      <%= f.text_field :sort_order, :class => 'form-control' %>
    </div>
    <%=f.error_span(:sort_order) %>
  </div>

  <div class="form-group">
    <div class="col-lg-offset-2 col-lg-10">
      <%= f.submit nil, :class => 'btn btn-primary' %>
      <%= link_to t('.cancel', :default => t("helpers.links.cancel")),
                locations_path, :class => 'btn btn-default' %>
    </div>
  </div>

<% end %>
